:root {
  --alert-success-bg: #07a35d;
  --alert-warning-bg: #ff9408;
  --alert-error-bg: #ff4538;
}

:root.theme-light {
  /* base light */
  --base-background: #ffffff;
  --text-black-primary: #0d0d17;
}

:root.theme-dark {
  /* base */
  --base-background: #0a131e;
  --text-black-primary: #ffffff;
}

/* duplicating styles for initial page load */
@media (prefers-color-scheme: light) {
  :root {
    /* base light */
    --base-background: #ffffff;
    --text-black-primary: #0d0d17;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* base */
    --base-background: #0a131e;
    --text-black-primary: #ffffff;
  }
}
